.rows {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     padding: 0;
}

  .carousel {
     position: relative;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}  

.carousel-inner {
     position: relative;
     width: 100%;
     overflow: hidden;
 }

 .a {
     display: flex !important;
     justify-content: space-around;
     align-items: center;
}  

.space{
     margin: 0!important;
     padding: 0!important;
}
 .carousel-item.active:nth-child(2){
     background: url('../../assets/image6.jpg');
     background-color:rgba(128, 0, 0, 0.365); 
     background-size: cover;
     min-height: 60vh;
     display: flex;
     align-items: center;
     justify-content: center;
}  

  .carousel-item.active:nth-child(1){
     background: url('../../assets/image14.jpg'); 
     background-color: rgba(128, 0, 0, 0.365); 
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 60vh;
}  
.carousel-caption {
     position: relative !important;
}

.carousel-caption {
     position: relative;
     right: 0%!important;
     bottom: 0rem;
     left: 0!important;
     padding-top: 0rem;
     padding-bottom: 0rem;
     text-align: center;
     font-family: 'Roboto';
     font-style: normal;
     font-size: 16px;
     width: 100%;
     line-height: 30px;
     text-transform: uppercase;
}

.p{
     color: #000000!important;
     font-family: 'Roboto';
     font-size: 23px; 
     font-weight: 700; 
     letter-spacing: 2px;
}

.pa{
     color: #0e0b0b!important;
     font-family: 'Roboto';  
     padding: 0 7px;
     font-weight: 700; 
     text-align: center;
}

@media (max-width: 600px) {
     .rows {
         
          margin-top: calc(-1 * var(--bs-gutter-y));
          margin-right: calc(-.5 * var(--bs-gutter-x));
          margin-left: calc(-.5 * var(--bs-gutter-x));
      }
      .carousel {
          min-height: 35vh;
          background-size: cover;
      }

      .carousel-item.active:nth-child(2){
          min-height: 35vh;
          background-size: cover;
     }
     
     .carousel-item.active:nth-child(1) {
          min-height: 35vh;
          background-size: cover;
     }
}

.carousels{
     background: #12121291;
     padding: 4rem;
 }

.ebook{
     text-align: center!important;
     color: white!important;
     display: block;
     background: #ff8f00e0;
     width: 25rem;
     padding: 1rem;
     margin: 0 16.5rem;
     border-radius: 5px;
 }

 .ebook:hover{
   background: #ff8f00; 
 }

 .carouPar {
     color: white;
     text-align: justify;
     padding: 0 3rem;
     text-transform: none;
     font-size: 2rem;
     margin-bottom: 3rem;
 }

